.backgroundBox {
  height: 90svh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  max-width: 99.1vw;
  background-image: url("../../img/opcat_bg.png"); /* Path to your image in the public folder */
  background-size: cover;
  background-position: center;
  position: relative; /* Required for the overlay to position itself correctly */
  z-index: 1;
  overflow-x: hidden;
}

.backgroundBox::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
  z-index: -1;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #000; /* The track of the scrollbar, where the bar hasn't reached */
}

::-webkit-scrollbar-thumb {
  background-color: #4af626; /* The scroll thumb, the part that you drag */
  border-radius: 6px; /* Roundness of the scroll thumb */
  border: 3px solid #000; /* Creates a border around the scroll thumb */
}

* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #4af626 #000; /* thumb and track colors */
}
